.footer{
  &__top{
    border-top:1px solid #E0E0E0;
  span{
    display: block;
    font-size: 16px;
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
    padding: 19px 0;
  }
  }
  &__middleware{
    height: 40px;
    background-color: #000;
  }
  &__down{}
  &__down-info{
    //padding: 13px 0;
    display: flex;
    align-items: center;
  }
  &__logo{
    flex: 0 0 135px;
    position: relative;
    z-index: 1;
    //display: inline-block;
  }
  &__descr{
    flex:1 1 auto;
    align-items: center;
    margin-left: -12%;
  }
}
@media (max-width: 450px) {
  .footer__down-info{
    flex-wrap: wrap;
  }
  .footer__logo{
    flex: 1 1 100%;
    margin-bottom: 20px;
    text-align: center;
  }
  .footer__descr{
    margin: 0;
  }
}
@media (max-width: $md4 + px) {
  .footer__down-info{
    padding: 15px 0;
  }
  .footer__logo{
    margin-bottom: 10px;
  }
}